<br>

# ë°ì´í„° ë­ê¸€ë§(Data Wrangling) í˜¹ì€ ë°ì´í„° ë©ì‰(Data Munging)

ë©ì‰(munging)ì€ ì „ì²˜ë¦¬, íŒŒì‹±, í•„í„°ë§ê³¼ ê°™ì´ ë°ì´í„°ë¥¼ ì´ë¦¬ì €ë¦¬ í•¸ë“¤ë§í•œë‹¤ëŠ” ëœ»ì´ë‹¤..ì‚¬ì‹¤ ì´ ë‹¨ì–´ëŠ” ì»´í“¨í„°ë¡œ ë°ì´í„°ë¥¼ ì²˜ë¦¬í•˜ëŠ” ì‚¬ëŒë“¤ ì‚¬ì´ì—ì„œ ë§ì´ ì“°ì´ëŠ” ë”°ëˆë”°ëˆí•œ ì‹ ì¡°ì–´ì´ë‹¤.  - ì „í¬ì› ì € 'Rë¡œ í•˜ëŠ” ë°ì´í„° ì‹œê°í™”' 52ìª½


# **Pandas**

ê³ ìˆ˜ì¤€ì˜ ìë£Œêµ¬ì¡°(Series, DataFrame)ë¥¼ ì§€ì›í•œë‹¤.


<br>

# ğŸ“ **Series**

ì¼ë ¨ì˜ ê°ì²´ë¥¼ ê¸°ì–µí•  ìˆ˜ ìˆëŠ” 1ì°¨ì› ë°°ì—´ êµ¬ì¡°ë¥¼ ê°–ëŠ”ë‹¤.  
ìë™ìœ¼ë¡œ indexê°€ ë¶€ì—¬ëœë‹¤.

In [ ]:
import pandas as pd
import numpy as np

#Series
obj = pd.Series([3, 7, -5, 4])  #list
obj = pd.Series((3, 7, -5, 4))   #tuple
#obj = pd.Series({3, 7, -5, 4})  #set typeì€ ì˜¤ë¥˜ë°œìƒ - setì€ ìˆœì„œê°€ ì—†ê¸° ë•Œë¬¸

print(obj, ' ', type(obj))

0    3
1    7
2   -5
3    4
dtype: int64   <class 'pandas.core.series.Series'>

In [ ]:
obj2 = pd.Series([3, 7, -5, 4], index = ['a', 'b', 'c', 'd'])

print(obj2, ' ', type(obj2))

print(sum(obj2))
print(np.sum(obj2))
print(obj2.sum())
print(obj2.mean())
print(obj2.std())
print()

print(obj2.values)
print(obj2.index)

a    3
b    7
c   -5
d    4
dtype: int64   <class 'pandas.core.series.Series'>
9
9
9
2.25
5.123475382979799

[ 3  7 -5  4]
Index(['a', 'b', 'c', 'd'], dtype='object')


<br>

### ğŸŒ¼ **dict typeìœ¼ë¡œ Series ìƒì„±**

In [ ]:
names = {'mouse':5000, 'keyboard':25000, 'monitor':450000}
print(names, type(names))

obj3 = pd.Series(names)  #keyê°’ì´ indexê°€ ë¨
print(obj3, ' ', type(obj3))
print(obj3[1])
print(obj3['keyboard'])
print()

obj3.index = ['ë§ˆìš°ìŠ¤','í‚¤ë³´ë“œ','ëª¨ë‹ˆí„°']
print(obj3, ' ', type(obj3))
print()

obj3.name = 'ìƒí’ˆê°€ê²©'
print(obj3)

{'mouse': 5000, 'keyboard': 25000, 'monitor': 450000} <class 'dict'>
mouse         5000
keyboard     25000
monitor     450000
dtype: int64   <class 'pandas.core.series.Series'>
25000
25000

ë§ˆìš°ìŠ¤      5000
í‚¤ë³´ë“œ     25000
ëª¨ë‹ˆí„°    450000
dtype: int64   <class 'pandas.core.series.Series'>

ë§ˆìš°ìŠ¤      5000
í‚¤ë³´ë“œ     25000
ëª¨ë‹ˆí„°    450000
Name: ìƒí’ˆê°€ê²©, dtype: int64

<br>

## ğŸ‘‰ **Slicing ìŠ¬ë¼ì´ì‹±**

In [ ]:
obj2 = pd.Series([3, 7, -5, 4], index = ['a', 'b', 'c', 'd'])

print(obj2['a'])         #ê°’ì¶œë ¥
print(obj2[['a']])       #indexì™€ ê°’ í•¨ê»˜ ì¶œë ¥
print(obj2[['a', 'b']])
#print(obj2['a', 'c'])   #ì˜¤ë¥˜
print(obj2['a':'c'])     #ì½œë¡ ì„ ì‚¬ìš©í•˜ì
print()

print(obj2[2])
print(obj2[1:4])
print(obj2[[2, 1]])
print()

print(obj2 > 0)
print('a' in obj2)

3
a    3
dtype: int64
a    3
b    7
dtype: int64
a    3
b    7
c   -5
dtype: int64

-5
b    7
c   -5
d    4
dtype: int64
c   -5
b    7
dtype: int64

a     True
b     True
c    False
d     True
dtype: bool
True

<br>

# ğŸ“ **Data Frame**

In [ ]:
df = pd.DataFrame(obj3)
print(df, ' ', type(df))

       ìƒí’ˆê°€ê²©
ë§ˆìš°ìŠ¤    5000
í‚¤ë³´ë“œ   25000
ëª¨ë‹ˆí„°  450000   <class 'pandas.core.frame.DataFrame'>

In [ ]:
data = {
    'irum':['ë³‘êµ¬','ì˜ì§„','ìš°ì†”','ê¸°ì¤€','ì€ë³„'],
    'juso':('ì—­ì‚¼ë™','ì‹ ë‹¹ë™','ì—­ì‚¼ë™', 'ì—­ì‚¼ë™','ì‹ ì‚¬ë™'),
    'nai':[23, 25, 33, 30, 35],
}

print(data)
print(type(data))

{'irum': ['ë³‘êµ¬', 'ì˜ì§„', 'ìš°ì†”', 'ê¸°ì¤€', 'ì€ë³„'], 'juso': ('ì—­ì‚¼ë™', 'ì‹ ë‹¹ë™', 'ì—­ì‚¼ë™', 'ì—­ì‚¼ë™', 'ì‹ ì‚¬ë™'), 'nai': [23, 25, 33, 30, 35]}
<class 'dict'>


<br>

## ğŸ‘‰ **DataFrame ë°ì´í„° ë‹¤ë£¨ê¸°**

In [ ]:
from pandas import DataFrame, Series
frame = DataFrame(data)

print(frame)
print(frame['irum'])
print(frame.irum, ' ', type(frame.irum))

  irum juso  nai
0   ë³‘êµ¬  ì—­ì‚¼ë™   23
1   ì˜ì§„  ì‹ ë‹¹ë™   25
2   ìš°ì†”  ì—­ì‚¼ë™   33
3   ê¸°ì¤€  ì—­ì‚¼ë™   30
4   ì€ë³„  ì‹ ì‚¬ë™   35
0    ë³‘êµ¬
1    ì˜ì§„
2    ìš°ì†”
3    ê¸°ì¤€
4    ì€ë³„
Name: irum, dtype: object
0    ë³‘êµ¬
1    ì˜ì§„
2    ìš°ì†”
3    ê¸°ì¤€
4    ì€ë³„
Name: irum, dtype: object   <class 'pandas.core.series.Series'>


### ì „ì¹˜

In [ ]:
frame2 = DataFrame(data, columns=['irum','nai','juso','tel'], index=['a','b','c','d','e'])  #ì»¬ëŸ¼ìˆœì„œë¥¼ ë°”ê¾¸ê³ , ìƒˆë¡œìš´ ì»¬ëŸ¼ìƒì„±
print(frame2)

frame2['tel'] = '111-1111'
print(frame2)

val = Series(['222-222','333-1111','444-1111'], index=['b','c','e'])
frame2['tel'] = val
print(frame2)

#ì „ì¹˜
print(frame2.T)

  irum  nai juso  tel
a   ë³‘êµ¬   23  ì—­ì‚¼ë™  NaN
b   ì˜ì§„   25  ì‹ ë‹¹ë™  NaN
c   ìš°ì†”   33  ì—­ì‚¼ë™  NaN
d   ê¸°ì¤€   30  ì—­ì‚¼ë™  NaN
e   ì€ë³„   35  ì‹ ì‚¬ë™  NaN
  irum  nai juso       tel
a   ë³‘êµ¬   23  ì—­ì‚¼ë™  111-1111
b   ì˜ì§„   25  ì‹ ë‹¹ë™  111-1111
c   ìš°ì†”   33  ì—­ì‚¼ë™  111-1111
d   ê¸°ì¤€   30  ì—­ì‚¼ë™  111-1111
e   ì€ë³„   35  ì‹ ì‚¬ë™  111-1111
  irum  nai juso       tel
a   ë³‘êµ¬   23  ì—­ì‚¼ë™       NaN
b   ì˜ì§„   25  ì‹ ë‹¹ë™   222-222
c   ìš°ì†”   33  ì—­ì‚¼ë™  333-1111
d   ê¸°ì¤€   30  ì—­ì‚¼ë™       NaN
e   ì€ë³„   35  ì‹ ì‚¬ë™  444-1111
        a        b         c    d         e
irum   ë³‘êµ¬       ì˜ì§„        ìš°ì†”   ê¸°ì¤€        ì€ë³„
nai    23       25        33   30        35
juso  ì—­ì‚¼ë™      ì‹ ë‹¹ë™       ì—­ì‚¼ë™  ì—­ì‚¼ë™       ì‹ ì‚¬ë™
tel   NaN  222-222  333-1111  NaN  444-1111

In [ ]:
#list typeìœ¼ë¡œ ì¶œë ¥
print(frame2.values)   #2ì°¨ì›í˜•íƒœë¡œ
print(type(frame2.values))  
print(frame2.values[0, 2])
print(frame2.values[0:2])

[['ë³‘êµ¬' 23 'ì—­ì‚¼ë™' nan]
 ['ì˜ì§„' 25 'ì‹ ë‹¹ë™' '222-222']
 ['ìš°ì†”' 33 'ì—­ì‚¼ë™' '333-1111']
 ['ê¸°ì¤€' 30 'ì—­ì‚¼ë™' nan]
 ['ì€ë³„' 35 'ì‹ ì‚¬ë™' '444-1111']]
<class 'numpy.ndarray'>
ì—­ì‚¼ë™
[['ë³‘êµ¬' 23 'ì—­ì‚¼ë™' nan]
 ['ì˜ì§„' 25 'ì‹ ë‹¹ë™' '222-222']]

In [ ]:
frame3 = frame2.drop('d', axis=0)   #í–‰ì‚­ì œ. axis=0:ê¸°ë³¸ê°’
print(frame3)

frame4 = frame2.drop('tel', axis=1) #ì—´ì‚­ì œ
print(frame4)

  irum  nai juso       tel
a   ë³‘êµ¬   23  ì—­ì‚¼ë™       NaN
b   ì˜ì§„   25  ì‹ ë‹¹ë™   222-222
c   ìš°ì†”   33  ì—­ì‚¼ë™  333-1111
e   ì€ë³„   35  ì‹ ì‚¬ë™  444-1111
  irum  nai juso
a   ë³‘êµ¬   23  ì—­ì‚¼ë™
b   ì˜ì§„   25  ì‹ ë‹¹ë™
c   ìš°ì†”   33  ì—­ì‚¼ë™
d   ê¸°ì¤€   30  ì—­ì‚¼ë™
e   ì€ë³„   35  ì‹ ì‚¬ë™


<br>

## ğŸ‘‰ **ì •ë ¬, ìˆœìœ„, count : `.sort_index(), .rank(), .value_counts()`**

In [ ]:
print(frame2.sort_index(axis=0, ascending=False))
print(frame2.sort_index(axis=1, ascending=False))

print(frame2.rank(axis=0))

print(frame2['juso'].value_counts())

  irum  nai juso       tel
e   ì€ë³„   35  ì‹ ì‚¬ë™  444-1111
d   ê¸°ì¤€   30  ì—­ì‚¼ë™       NaN
c   ìš°ì†”   33  ì—­ì‚¼ë™  333-1111
b   ì˜ì§„   25  ì‹ ë‹¹ë™   222-222
a   ë³‘êµ¬   23  ì—­ì‚¼ë™       NaN
        tel  nai juso irum
a       NaN   23  ì—­ì‚¼ë™   ë³‘êµ¬
b   222-222   25  ì‹ ë‹¹ë™   ì˜ì§„
c  333-1111   33  ì—­ì‚¼ë™   ìš°ì†”
d       NaN   30  ì—­ì‚¼ë™   ê¸°ì¤€
e  444-1111   35  ì‹ ì‚¬ë™   ì€ë³„
   irum  nai  juso  tel
a   2.0  1.0   4.0  NaN
b   3.0  2.0   1.0  1.0
c   4.0  4.0   4.0  2.0
d   1.0  3.0   4.0  NaN
e   5.0  5.0   2.0  3.0
ì—­ì‚¼ë™    3
ì‹ ë‹¹ë™    1
ì‹ ì‚¬ë™    1
Name: juso, dtype: int64

In [ ]:
data = {
    'juso':['ê°•ë‚¨êµ¬ ì—­ì‚¼ë™', 'ì¤‘êµ¬ ì‹ ë‹¹ë™', 'ê°•ë‚¨êµ¬ ëŒ€ì¹˜ë™'],
    'inwon':[23, 25, 15]
}

fr = DataFrame(data)
print(fr)
print()

result1 = Series([x.split()[0] for x in fr.juso])
print(result1)

result2 = Series([x.split()[1] for x in fr.juso])
print(result2)

      juso  inwon
0  ê°•ë‚¨êµ¬ ì—­ì‚¼ë™     23
1   ì¤‘êµ¬ ì‹ ë‹¹ë™     25
2  ê°•ë‚¨êµ¬ ëŒ€ì¹˜ë™     15

0    ê°•ë‚¨êµ¬
1     ì¤‘êµ¬
2    ê°•ë‚¨êµ¬
dtype: object
0    ì—­ì‚¼ë™
1    ì‹ ë‹¹ë™
2    ëŒ€ì¹˜ë™
dtype: object

<br>

# ğŸ“ Seriesì˜ ì¬ìƒ‰ì¸ : `.reindex()`

In [ ]:
data = Series([1, 3, 2], index = (1, 4, 2))
print(data)

data2 = data.reindex((1,2,4))
print(data2)

1    1
4    3
2    2
dtype: int64
1    1
2    2
4    3
dtype: int64


## ğŸ‘‰ ì¬ìƒ‰ì¸í•˜ë©° ê°’ ì±„ìš°ê¸°

In [ ]:
data3 = data2.reindex([0, 1, 2, 3, 4, 5])
print(data3) #ê°’ì´ ì¡´ì¬í•˜ì§€ ì•ŠëŠ” í•­ëª©ë“¤ì€ NaN
print()

data3 = data2.reindex([0, 1, 2, 3, 4, 5], fill_value = 777)  #íŠ¹ì •ê°’ìœ¼ë¡œ ì±„ìš°ê¸°
print(data3)
print()

data3 = data2.reindex([0, 1, 2, 3, 4, 5], method = 'ffill')  #forward fill : NaNì˜ ë°”ë¡œ ì•ì˜ ê°’ìœ¼ë¡œ ëŒ€ì²´
#data3 = data2.reindex([0, 1, 2, 3, 4, 5], method = 'pad')   #ìœ„ì™€ ë™ì¼
print(data3)
print()

data3 = data2.reindex([0, 1, 2, 3, 4, 5], method = 'bfill')  #back fill : NaNì˜ ë°”ë¡œ ë‹¤ìŒ ê°’ìœ¼ë¡œ ëŒ€ì²´
print(data3)
print()

0    NaN
1    1.0
2    2.0
3    NaN
4    3.0
5    NaN
dtype: float64

0    777
1      1
2      2
3    777
4      3
5    777
dtype: int64

0    NaN
1    1.0
2    2.0
3    2.0
4    3.0
5    3.0
dtype: float64

0    1.0
1    1.0
2    2.0
3    3.0
4    3.0
5    NaN
dtype: float64

<br>

# ğŸ“ **DataFrameì˜ Slicing**

In [ ]:
import numpy as np

df = DataFrame(np.arange(12).reshape(4, 3), index=['1ì›”','2ì›”','3ì›”','4ì›”'], columns=['ê°•ë‚¨','ê°•ë¶','ì„œì´ˆ'])
print(df)
print()

print(df['ê°•ë‚¨'])
print()
print(df['ê°•ë‚¨'] > 3)
print()
print(df[df['ê°•ë‚¨'] > 3])
print()

print(df < 3)
df[df < 3] = 0
print(df)

    ê°•ë‚¨  ê°•ë¶  ì„œì´ˆ
1ì›”   0   1   2
2ì›”   3   4   5
3ì›”   6   7   8
4ì›”   9  10  11

1ì›”    0
2ì›”    3
3ì›”    6
4ì›”    9
Name: ê°•ë‚¨, dtype: int64

1ì›”    False
2ì›”    False
3ì›”     True
4ì›”     True
Name: ê°•ë‚¨, dtype: bool

    ê°•ë‚¨  ê°•ë¶  ì„œì´ˆ
3ì›”   6   7   8
4ì›”   9  10  11

       ê°•ë‚¨     ê°•ë¶     ì„œì´ˆ
1ì›”   True   True   True
2ì›”  False  False  False
3ì›”  False  False  False
4ì›”  False  False  False
    ê°•ë‚¨  ê°•ë¶  ì„œì´ˆ
1ì›”   0   0   0
2ì›”   3   4   5
3ì›”   6   7   8
4ì›”   9  10  11

<br>

## ğŸ‘‰ **Label ê¸°ëŠ¥ : `.loc(), .iloc()`**

loc: ë¼ë²¨ ì§€ì›, iloc: ì¸ë±ìŠ¤ë¼ë²¨ì§€ì›

In [ ]:
#loc
print(df.loc['4ì›”'])
print(df.loc['3ì›”',])
print(df.loc[:'2ì›”'])
print(df.loc[:'2ì›”', ['ì„œì´ˆ']])

ê°•ë‚¨     9
ê°•ë¶    10
ì„œì´ˆ    11
Name: 4ì›”, dtype: int64
ê°•ë‚¨    6
ê°•ë¶    7
ì„œì´ˆ    8
Name: 3ì›”, dtype: int64
    ê°•ë‚¨  ê°•ë¶  ì„œì´ˆ
1ì›”   0   0   0
2ì›”   3   4   5
    ì„œì´ˆ
1ì›”   0
2ì›”   5

In [ ]:
#iloc
print(df.iloc[2])
print(df.iloc[2, :])
print()

print(df.iloc[:3])
print(df.iloc[:3, 2])
print(df.iloc[:3, 1:3])

ê°•ë‚¨    6
ê°•ë¶    7
ì„œì´ˆ    8
Name: 3ì›”, dtype: int64
ê°•ë‚¨    6
ê°•ë¶    7
ì„œì´ˆ    8
Name: 3ì›”, dtype: int64

    ê°•ë‚¨  ê°•ë¶  ì„œì´ˆ
1ì›”   0   0   0
2ì›”   3   4   5
3ì›”   6   7   8
1ì›”    0
2ì›”    5
3ì›”    8
Name: ì„œì´ˆ, dtype: int64
    ê°•ë¶  ì„œì´ˆ
1ì›”   0   0
2ì›”   4   5
3ì›”   7   8


# ğŸ“ **ì‚°ìˆ ì—°ì‚°**

## Series

In [ ]:
s1 = Series([1,2,3], index=['a','b','c'])
s2 = Series([4,5,6,7], index=['a','b','c','d'])

print(s1)
print(s2)

a    1
b    2
c    3
dtype: int64
a    4
b    5
c    6
d    7
dtype: int64

In [ ]:
print(s1 + s2)  #ê°™ì€ indexë¼ë¦¬ ì—°ì‚°. ë¶ˆì¼ì¹˜í•  ê²½ìš° NaN
print(s1.add(s2))
print(s1 * s2)

a    5.0
b    7.0
c    9.0
d    NaN
dtype: float64
a    5.0
b    7.0
c    9.0
d    NaN
dtype: float64
a     4.0
b    10.0
c    18.0
d     NaN
dtype: float64

## DataFrame

In [ ]:
df1 = DataFrame(np.arange(9.).reshape(3, 3), columns = list('one'), index = ['ì„œìš¸','ì¸ì²œ','ìˆ˜ì›'])
print(df1)
print()

df2 = DataFrame(np.arange(12.).reshape(4, 3), columns = list('one'), index = ['ì„œìš¸','ì¸ì²œ','ë¶€ì‚°','ê´‘ì£¼'])
print(df2)

      o    n    e
ì„œìš¸  0.0  1.0  2.0
ì¸ì²œ  3.0  4.0  5.0
ìˆ˜ì›  6.0  7.0  8.0

      o     n     e
ì„œìš¸  0.0   1.0   2.0
ì¸ì²œ  3.0   4.0   5.0
ë¶€ì‚°  6.0   7.0   8.0
ê´‘ì£¼  9.0  10.0  11.0

In [ ]:
print(df1 + df2)
print(df1.add(df2, fill_value = 0))  #NaNì€ 0ìœ¼ë¡œ ì±„ìš´ í›„ ì—°ì‚°

      o    n     e
ê´‘ì£¼  NaN  NaN   NaN
ë¶€ì‚°  NaN  NaN   NaN
ì„œìš¸  0.0  2.0   4.0
ìˆ˜ì›  NaN  NaN   NaN
ì¸ì²œ  6.0  8.0  10.0
      o     n     e
ê´‘ì£¼  9.0  10.0  11.0
ë¶€ì‚°  6.0   7.0   8.0
ì„œìš¸  0.0   2.0   4.0
ìˆ˜ì›  6.0   7.0   8.0
ì¸ì²œ  6.0   8.0  10.0

In [ ]:
print(df1 * df2)
print(df1.multiply(df2, fill_value = 1))  #NaNì€ 1ë¡œ ì±„ìš´ í›„ ì—°ì‚°

      o     n     e
ê´‘ì£¼  NaN   NaN   NaN
ë¶€ì‚°  NaN   NaN   NaN
ì„œìš¸  0.0   1.0   4.0
ìˆ˜ì›  NaN   NaN   NaN
ì¸ì²œ  9.0  16.0  25.0
      o     n     e
ê´‘ì£¼  9.0  10.0  11.0
ë¶€ì‚°  6.0   7.0   8.0
ì„œìš¸  0.0   1.0   4.0
ìˆ˜ì›  6.0   7.0   8.0
ì¸ì²œ  9.0  16.0  25.0

<br>

## Seriesì™€ DataFrame ê°„ì˜ ì—°ì‚°

DataFrameê³¼ Series ê°„ì˜ ì‚°ìˆ ì—°ì‚°ì€ Seriesì˜ ìƒ‰ì¸ì„ DataFrameì˜ ì»¬ëŸ¼ì— ë§ì¶”ê³  ì•„ë˜í–‰ìœ¼ë¡œ ì „íŒŒí•œë‹¤.  -> Broadcasting

In [ ]:
df1 = DataFrame(np.arange(9.).reshape(3, 3), columns = list('one'), index = ['ì„œìš¸','ì¸ì²œ','ìˆ˜ì›'])
seri = df1.iloc[0]
print(seri)

print(df1 - seri)

o    0.0
n    1.0
e    2.0
Name: ì„œìš¸, dtype: float64
      o    n    e
ì„œìš¸  0.0  0.0  0.0
ì¸ì²œ  3.0  3.0  3.0
ìˆ˜ì›  6.0  6.0  6.0


<br>

# ğŸ“ **ê²°ì¸¡ì¹˜ ì²˜ë¦¬**

In [ ]:
df = DataFrame([[1.3, np.nan], [7, -4.3], [np.NaN, np.NAN], [0.5, -1]], columns = ['one','two'])
print(df)
print()

#print(df.drop(1))
print(df.isnull())
print(df.notnull())

   one  two
0  1.3  NaN
1  7.0 -4.3
2  NaN  NaN
3  0.5 -1.0

     one    two
0  False   True
1  False  False
2   True   True
3  False  False
     one    two
0   True  False
1   True   True
2  False  False
3   True   True


## ğŸ‘‰ `.dropna()`

In [ ]:
print(df.dropna())
print()
print(df.dropna(how='any'))       #how='any': NaNì´ í•˜ë‚˜ë¼ë„ ìˆìœ¼ë©´ í•´ë‹¹ í–‰ ì œê±°
print()

print(df.dropna(how='all'))       #how='any': í–‰ ì „ì²´ê°€ NaNì´ë¼ë©´ í•´ë‹¹ í–‰ ì œê±°. í•˜ë‚˜ë¼ë„ ë‹¤ë¥¸ ê°’ì´ ìˆìœ¼ë©´ ì œê±°ë˜ì§€ ì•ŠëŠ”ë‹¤.
print()

print(df.dropna(subset=['two']))  #subset=['two']: 'two'ì»¬ëŸ¼ì— NaNì´ ì¡´ì¬í•˜ëŠ” í–‰ ì œê±°. íŠ¹ì •ì—´ì— NaNì´ ìˆëŠ” í•´ë‹¹ í–‰ ì œê±°
print()

print(df.dropna(axis='rows'))     #NaNì´ í¬í•¨ëœ í–‰ ëª¨ë‘ ì œê±°
print()

print(df.dropna(axis='columns'))  #NaNì´ í¬í•¨ëœ ì—´ ëª¨ë‘ ì œê±°

   one  two
1  7.0 -4.3
3  0.5 -1.0

   one  two
1  7.0 -4.3
3  0.5 -1.0

   one  two
0  1.3  NaN
1  7.0 -4.3
3  0.5 -1.0

   one  two
1  7.0 -4.3
3  0.5 -1.0

   one  two
1  7.0 -4.3
3  0.5 -1.0

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

<br>

## ğŸ‘‰ `.fillna()`

In [ ]:
print(df.fillna(0))  #NaN 0ìœ¼ë¡œ ëŒ€ì²´

   one  two
0  1.3  0.0
1  7.0 -4.3
2  0.0  0.0
3  0.5 -1.0

ê¸°ë³¸ì ìœ¼ë¡œ NaNì€ ì—°ì‚°ì—ì„œ ì œì™¸í•œë‹¤.

In [ ]:
print(df.sum())
print(df.sum(axis=0))  #í–‰ì˜ í•©
print(df.sum(axis=1))  #ì—´ì˜ í•©

one    8.8
two   -5.3
dtype: float64
one    8.8
two   -5.3
dtype: float64
0    1.3
1    2.7
2    0.0
3   -0.5
dtype: float64

In [ ]:
print()
print(df)
print(df.mean())
print(df.mean(axis=1))
print(df.mean(axis=0, skipna = True))   #ê¸°ë³¸ê°’
print(df.mean(axis=0, skipna = False))  #NaN í¬í•¨í•˜ì—¬ ì—°ì‚°

   one  two
0  1.3  NaN
1  7.0 -4.3
2  NaN  NaN
3  0.5 -1.0
one    2.933333
two   -2.650000
dtype: float64
0    1.30
1    1.35
2     NaN
3   -0.25
dtype: float64
one    2.933333
two   -2.650000
dtype: float64
one   NaN
two   NaN
dtype: float64

<br>

# ğŸ“ **ê·¸ ì™¸ í•¨ìˆ˜ë“¤**


## `.idxmax()` : ìµœëŒ€ê°’ì˜ index ì¶œë ¥

In [ ]:
print(df.max())
print(df.idxmax())

one    7.0
two   -1.0
dtype: float64
one    1
two    3
dtype: int64

## `.describe()` : ìš”ì•½í†µê³„ëŸ‰

In [ ]:
print(df.describe())

            one       two
count  3.000000  2.000000
mean   2.933333 -2.650000
std    3.544479  2.333452
min    0.500000 -4.300000
25%    0.900000 -3.475000
50%    1.300000 -2.650000
75%    4.150000 -1.825000
max    7.000000 -1.000000


<br>

# ğŸ“ **DataFrameì˜ í˜•íƒœ ë³€ê²½**

`.reshape() ,.stack(), .unstack()`

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(1000 + np.arange(6).reshape(2, 3), index=['ì„œìš¸','ëŒ€ì „'], columns=['2020','2021','2022'])
print(df)
print()

#indexë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì»¬ëŸ¼ ìŒ“ê¸°
df_row = df.stack()
print(df_row)
print()

#ì›ë˜ëŒ€ë¡œ
df_col = df_row.unstack()
print(df_col)

    2020  2021  2022
ì„œìš¸  1000  1001  1002
ëŒ€ì „  1003  1004  1005

ì„œìš¸  2020    1000
    2021    1001
    2022    1002
ëŒ€ì „  2020    1003
    2021    1004
    2022    1005
dtype: int64

    2020  2021  2022
ì„œìš¸  1000  1001  1002
ëŒ€ì „  1003  1004  1005


<br>

## ğŸ‘‰ **ë²”ì£¼í™” : `.cut()`**

In [ ]:
price = [10.3, 5.5, 7.8, 3.6]
cut = [3, 7, 9, 11]  #êµ¬ê°„ ê¸°ì¤€ ê°’

result_cut = pd.cut(price, cut)
print(result_cut)
print()

print(pd.value_counts(result_cut))

[(9, 11], (3, 7], (7, 9], (3, 7]]
Categories (3, interval[int64]): [(3, 7] < (7, 9] < (9, 11]]

(3, 7]     2
(9, 11]    1
(7, 9]     1
dtype: int64

In [ ]:
datas = pd.Series(np.arange(1, 1001))
print(datas.tail())
print()

cut2 = [1, 500, 1000]
result_cut2 = pd.cut(datas, cut2)

print(result_cut2)
print()
print(pd.value_counts(result_cut2))
print()

995     996
996     997
997     998
998     999
999    1000
dtype: int64

0                  NaN
1         (1.0, 500.0]
2         (1.0, 500.0]
3         (1.0, 500.0]
4         (1.0, 500.0]
            ...
995    (500.0, 1000.0]
996    (500.0, 1000.0]
997    (500.0, 1000.0]
998    (500.0, 1000.0]
999    (500.0, 1000.0]
Length: 1000, dtype: category
Categories (2, interval[int64]): [(1, 500] < (500, 1000]]

(500, 1000]    500
(1, 500]       499
dtype: int64

In [ ]:
result_cut3 = pd.qcut(datas, 5)
print(result_cut3)
print()
print(pd.value_counts(result_cut3))

0       (0.999, 200.8]
1       (0.999, 200.8]
2       (0.999, 200.8]
3       (0.999, 200.8]
4       (0.999, 200.8]
            ...
995    (800.2, 1000.0]
996    (800.2, 1000.0]
997    (800.2, 1000.0]
998    (800.2, 1000.0]
999    (800.2, 1000.0]
Length: 1000, dtype: category
Categories (5, interval[float64]): [(0.999, 200.8] < (200.8, 400.6] < (400.6, 600.4] < (600.4, 800.2] <
                                    (800.2, 1000.0]]

(800.2, 1000.0]    200
(600.4, 800.2]     200
(400.6, 600.4]     200
(200.8, 400.6]     200
(0.999, 200.8]     200
dtype: int64

<br>

## ğŸ‘‰ **Group ë³„ë¡œ ì‘ì—…í•˜ê¸° : `.groupby()`**


`.agg` : ì†Œê³„ë¥¼ êµ¬í•˜ëŠ” í•¨ìˆ˜

In [ ]:
group_col = datas.groupby(result_cut2)
print(group_col)
print()

print(group_col.agg(['count','mean','std','min']))

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f1bcfe5fe10>

             count   mean         std  min
(1, 500]       499  251.0  144.193157    2
(500, 1000]    500  750.5  144.481833  501

In [ ]:
#í•¨ìˆ˜ë¡œ ë§Œë“¤ì–´ ë³´ê¸°
def summary_func(gr):
  return {
      'count':gr.count(),
      'mean':gr.mean(),
      'std':gr.std(),
      'min':gr.min()
  }

print(group_col.apply(summary_func))
print()
print(group_col.apply(summary_func).unstack())

(1, 500]     count    499.000000
             mean     251.000000
             std      144.193157
             min        2.000000
(500, 1000]  count    500.000000
             mean     750.500000
             std      144.481833
             min      501.000000
dtype: float64

             count   mean         std    min
(1, 500]     499.0  251.0  144.193157    2.0
(500, 1000]  500.0  750.5  144.481833  501.0


## ğŸ‘‰ **ìë£Œ ë³‘í•©í•˜ê¸°**

`.merge()` : keyë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©í•œë‹¤.


### ğŸŒ¼ ê³µí†µ ì»¬ëŸ¼ì´ ìˆëŠ” ê²½ìš°

In [ ]:
df1 = pd.DataFrame({'data1':range(7), 'key':['b','b','a','c','a','a','b']})
print(df1)
print()

df2 = pd.DataFrame({'key':['a','b','d'], 'data2':range(3)})
print(df2)
print()

#ê³µí†µì»¬ëŸ¼ì´ ìˆëŠ” ë°ì´í„°ë“¤ì— ëŒ€í•´ì„œë§Œ ì‘ì—…
#SQLì˜ INNER JOIN
print(pd.merge(df1, df2, on='key'))
print()
print(pd.merge(df1, df2, on='key', how='inner'))  #ìœ„ì™€ ë™ì¼
print()

#OUTER JOIN
print(pd.merge(df1, df2, on='key', how='outer'))
print()

#LEFT OUTER JOIN
print(pd.merge(df1, df2, on='key', how='left'))
print()

#RIGHT OUTER JOIN
print(pd.merge(df1, df2, on='key', how='right'))

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

  key  data2
0   a      0
1   b      1
2   d      2

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

   data1 key  data2
0      0   b    1.0
1      1   b    1.0
2      2   a    0.0
3      3   c    NaN
4      4   a    0.0
5      5   a    0.0
6      6   b    1.0

   data1 key  data2
0    2.0   a      0
1    4.0   a      0
2    5.0   a      0
3    0.0   b      1
4    1.0   b      1
5    6.0   b      1
6    NaN   d      2

<br>

### ğŸŒ¼ ê³µí†µ ì»¬ëŸ¼ì´ ì—†ëŠ” ê²½ìš°

`.concat()`

In [ ]:
df3 = pd.DataFrame({'key2':['a','b','d'], 'data2':range(3)}) #df1, df2ì™€ ê³µí†µ ì»¬ëŸ¼X
print(df3)
print()

#INNER JOIN
print(pd.merge(df1, df3, left_on='key', right_on='key2'))
print()

print(pd.concat([df1, df3])) #ëŒ€ì‘ë˜ì§€ ì•Šìœ¼ë©´ NaN
print()

#ì´ì–´ë¶™ì´ê¸°
print(pd.concat([df1, df3], axis=0))
print()
print(pd.concat([df1, df3], axis=1))
print()

  key2  data2
0    a      0
1    b      1
2    d      2

   data1 key key2  data2
0      0   b    b      1
1      1   b    b      1
2      6   b    b      1
3      2   a    a      0
4      4   a    a      0
5      5   a    a      0

   data1  key key2  data2
0    0.0    b  NaN    NaN
1    1.0    b  NaN    NaN
2    2.0    a  NaN    NaN
3    3.0    c  NaN    NaN
4    4.0    a  NaN    NaN
5    5.0    a  NaN    NaN
6    6.0    b  NaN    NaN
0    NaN  NaN    a    0.0
1    NaN  NaN    b    1.0
2    NaN  NaN    d    2.0

   data1  key key2  data2
0    0.0    b  NaN    NaN
1    1.0    b  NaN    NaN
2    2.0    a  NaN    NaN
3    3.0    c  NaN    NaN
4    4.0    a  NaN    NaN
5    5.0    a  NaN    NaN
6    6.0    b  NaN    NaN
0    NaN  NaN    a    0.0
1    NaN  NaN    b    1.0
2    NaN  NaN    d    2.0

   data1 key key2  data2
0      0   b    a    0.0
1      1   b    b    1.0
2      2   a    d    2.0
3      3   c  NaN    NaN
4      4   a  NaN    NaN
5      5   a  NaN    NaN
6      6   b  NaN    NaN

<br>

## Seriesì˜ ë³‘í•©

In [ ]:
s1 = pd.Series([0,1], index = ['a','b'])
s2 = pd.Series([2,3,4], index = ['c','d','e'])
s3 = pd.Series([5,6], index = ['f','g'])

print(pd.concat([s1, s2, s3], axis=0))

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64


<br>

## ğŸ‘‰ **Pivot table í”¼ë²—í…Œì´ë¸”**

ë°ì´í„°ì˜ í–‰ë ¬ì„ ì¬êµ¬ì„±í•˜ì—¬ ì—°ì‚° í›„ ê²°ê³¼ë¥¼ ì¶œë ¥

In [ ]:
data = {'city':['ê°•ë‚¨','ê°•ë¶','ê°•ë‚¨','ê°•ë¶'],
        'year':[2000,2001,2002,2002],
        'pop':[3.3,2.5,3.0,2.0]}

df = pd.DataFrame(data)
print(df)
print()
print(df['pop'].describe())

  city  year  pop
0   ê°•ë‚¨  2000  3.3
1   ê°•ë¶  2001  2.5
2   ê°•ë‚¨  2002  3.0
3   ê°•ë¶  2002  2.0

count    4.000000
mean     2.700000
std      0.571548
min      2.000000
25%      2.375000
50%      2.750000
75%      3.075000
max      3.300000
Name: pop, dtype: float64

<br>

### `.pivot()`

In [ ]:
print(df.pivot('city','year','pop'))  #í–‰,ì—´,ê³„ì‚°í•  ì»¬ëŸ¼. êµ¬ì¡°ë¥¼ ì¬êµ¬ì„±í•˜ì—¬ ì¶œë ¥
print()
print(df.set_index(['city','year']).unstack())  #.set_index() : ê¸°ì¡´ì˜ í–‰ indexë¥¼ ì œê±°í•˜ê³  ì²«ë²ˆì§¸ ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •
print()

print(df.pivot('year','city','pop'))
print()
print(df.set_index(['year','city']).unstack()) 
print()

year  2000  2001  2002
city
ê°•ë‚¨     3.3   NaN   3.0
ê°•ë¶     NaN   2.5   2.0

      pop
year 2000 2001 2002
city
ê°•ë‚¨    3.3  NaN  3.0
ê°•ë¶    NaN  2.5  2.0

city   ê°•ë‚¨   ê°•ë¶
year
2000  3.3  NaN
2001  NaN  2.5
2002  3.0  2.0

      pop
city   ê°•ë‚¨   ê°•ë¶
year
2000  3.3  NaN
2001  NaN  2.5
2002  3.0  2.0

<br>

### `.pivot_table()` : ì—°ì‚° ê°€ëŠ¥

In [ ]:
print(df.pivot_table(index=['city']))
print()

print(df.pivot_table(index=['city'], aggfunc = np.mean))  #aggfunc=np.mean: ê¸°ë³¸ê°’. ìœ„ì™€ ë™ì¼
print()

print(df.pivot_table(index=['city','year'], aggfunc = np.mean))
print()

print(df.pivot_table(index=['city','year'], aggfunc = [len, np.sum]))
print()

       pop    year
city
ê°•ë‚¨    3.15  2001.0
ê°•ë¶    2.25  2001.5

       pop    year
city
ê°•ë‚¨    3.15  2001.0
ê°•ë¶    2.25  2001.5

           pop
city year
ê°•ë‚¨   2000  3.3
     2002  3.0
ê°•ë¶   2001  2.5
     2002  2.0

           len  sum
           pop  pop
city year
ê°•ë‚¨   2000  1.0  3.3
     2002  1.0  3.0
ê°•ë¶   2001  1.0  2.5
     2002  1.0  2.0

In [ ]:
#ì—°ì‚° ëŒ€ìƒ ì§€ì •
print(df.pivot_table(values=['pop'], index='city', aggfunc=np.mean))  
print()

print(df.pivot_table(values=['pop'], index='city', aggfunc = len))
print()

print(df.pivot_table(values=['pop'], index='year', columns='city'))
print()

print(df.pivot_table(values=['pop'], index='year', columns='city', margins=True))
print()

print(df.pivot_table(values=['pop'], index='year', columns='city', margins=True, fill_value=0))

       pop
city
ê°•ë‚¨    3.15
ê°•ë¶    2.25

      pop
city
ê°•ë‚¨    2.0
ê°•ë¶    2.0

      pop
city   ê°•ë‚¨   ê°•ë¶
year
2000  3.3  NaN
2001  NaN  2.5
2002  3.0  2.0

       pop
city    ê°•ë‚¨    ê°•ë¶  All
year
2000  3.30   NaN  3.3
2001   NaN  2.50  2.5
2002  3.00  2.00  2.5
All   3.15  2.25  2.7

       pop
city    ê°•ë‚¨    ê°•ë¶  All
year
2000  3.30  0.00  3.3
2001  0.00  2.50  2.5
2002  3.00  2.00  2.5
All   3.15  2.25  2.7

In [ ]:
#groupby ì‚¬ìš©
hap = df.groupby(['city'])
print(hap)
print(hap.sum())
print()

print(df.groupby(['city']).sum())  #í•œ ì¤„ë¡œ í‘œí˜„
print()

print(df.groupby(['city','year']).sum())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f1bcfe20e50>
      year  pop
city
ê°•ë‚¨    4002  6.3
ê°•ë¶    4003  4.5

      year  pop
city
ê°•ë‚¨    4002  6.3
ê°•ë¶    4003  4.5

           pop
city year
ê°•ë‚¨   2000  3.3
     2002  3.0
ê°•ë¶   2001  2.5
     2002  2.0

<br>

# ğŸ“ **Pandas File I/O**

<br>

## ğŸ‘‰ íŒŒì¼ ì½ê¸°

In [ ]:
import pandas as pd

#df = pd.read_csv('../testdata/ex1.csv')
df = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex1.csv')
print(df, type(df))
print()

df = pd.read_table('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex1.csv', sep=',')
print(df)
print()

#df = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex2.csv')
df = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex2.csv', header=None)
print(df)
print()

df = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex2.csv', header=None, names=['a','b'])
print(df)  #ë’¤ì—ì„œë¶€í„° ì»¬ëŸ¼ëª… ë¶€ì—¬
print()

df = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex2.csv', header=None, names=['a','b','c','d','e'])
print(df)  #ì»¬ëŸ¼ëª…ë¶€ì—¬
print()

df = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex2.csv', header=None, names=['a','b','c','d','msg'],
                 index_col = 'msg')  #msg ì»¬ëŸ¼ì„ í–‰ ì¸ë±ìŠ¤ë¡œ
print(df)

   bunho irum  kor  eng
0      1  í™ê¸¸ë™   90   90
1      2  ì‹ ê¸°í•´   95   80
2      3  í•œêµ­ì¸  100   85
3      4  ë°•ì¹˜ê¸°   67   54
4      5  ë§ˆë‹¹ì‡    55  100 <class 'pandas.core.frame.DataFrame'>

   bunho irum  kor  eng
0      1  í™ê¸¸ë™   90   90
1      2  ì‹ ê¸°í•´   95   80
2      3  í•œêµ­ì¸  100   85
3      4  ë°•ì¹˜ê¸°   67   54
4      5  ë§ˆë‹¹ì‡    55  100

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

          a      b
1 2  3    4  hello
5 6  7    8  world
9 10 11  12    foo

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

       a   b   c   d
msg
hello  1   2   3   4
world  5   6   7   8
foo    9  10  11  12

In [ ]:
#df = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex3.txt')
print(df)
print()

df = pd.read_table('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex3.txt', sep='\s+') #ê³µë°±ì´ 0ê°œ ì´ìƒ. ì •ê·œí‘œí˜„ì‹ ì‚¬ìš©
print(df)
print()

df = pd.read_table('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/ex3.txt', sep='\s+',
                   skiprows=[1, 3])  #1í–‰, 3í–‰ ì œì™¸ 
print(df)
print()

       a   b   c   d
msg
hello  1   2   3   4
world  5   6   7   8
foo    9  10  11  12

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
bbb  0.927272  0.302904 -0.032399
ddd -0.871858 -0.348382  1.100491

In [ ]:
abc = pd.read_fwf('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/data_fwt.txt', 
                  widths=(10, 3, 5), encoding='utf-8', header=None, names=('date','name','price'))

print(abc)
print()
print(abc['date'])

         date name  price
0  2017-04-10  ë„¤ì´ë²„  32000
1  2017-04-11  ë„¤ì´ë²„  34000
2  2017-04-12  ë„¤ì´ë²„  33000
3  2017-04-10  ì½”ë¦¬ì•„  22000
4  2017-04-11  ì½”ë¦¬ì•„  21000
5  2017-04-12  ì½”ë¦¬ì•„  24000

0    2017-04-10
1    2017-04-11
2    2017-04-12
3    2017-04-10
4    2017-04-11
5    2017-04-12
Name: date, dtype: object

<br>

## Chunk ë‹¨ìœ„ë¡œ íŒŒì¼ ì½ê¸°

In [ ]:
import pandas as pd

In [ ]:
#ê°ì²´ë¡œ ìƒì„±
abc = pd.read_csv('https://raw.githubusercontent.com/pykwon/python/master/testdata_utf8/data_csv2.csv', header=None, chunksize=3)
print(abc)
print()

for piece in abc:
  #print(piece)
  print(piece.sort_values(by=2, ascending=True))

<pandas.io.parsers.TextFileReader object at 0x7f1bcfe58950>

   0    1     2
2  3  ë°”ë‚˜ë‚˜  1000
0  1   ì‚¬ê³¼  3500
1  2    ë°°  5000
   0      1     2
4  5     ì°¸ì™¸  2000
5  6  ì—ìŠ¤í”„ë ˆì†Œ  5500
3  4     ìˆ˜ë°•  7000
   0      1     2
6  7  ì•„ë©”ë¦¬ì¹´ë…¸  2000
7  8   ì¹´í˜ë¼ë–¼  4000
8  9   ì¹´í‘¸ì¹˜ë…¸  4000
    0     1     2
9  10  ì¹´í˜ëª¨ì¹´  5000

<br>

## ğŸ‘‰ íŒŒì¼ ì €ì¥


### HTMLë¡œ ë‚´ë³´ë‚´ê¸°

In [ ]:
import pandas as pd

items = {'apple':{'count':10, 'price':2000}, 'orange':{'count':5, 'price':1000}}
df = pd.DataFrame(items)
print(df)

print(df.to_html())

       apple  orange
count     10       5
price   2000    1000
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>apple</th>
      <th>orange</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>10</td>
      <td>5</td>
    </tr>
    <tr>
      <th>price</th>
      <td>2000</td>
      <td>1000</td>
    </tr>
  </tbody>
</table>

<br>

### CSVë¡œ ë‚´ë³´ë‚´ê¸°

In [ ]:
df.to_csv('/content/drive/MyDrive/work/aa1.csv', sep=',')
df.to_csv('aa2.csv', sep=',', index=False)
df.to_csv('aa3.csv', sep=',', index=False, header=False)

data = df.T
data.to_csv('aa4.csv', sep=',', index=False, header=True)
print(pd.read_csv('aa4.csv'))

   count  price
0     10   2000
1      5   1000

<br>

### Excelë¡œ ë‚´ë³´ë‚´ê¸°

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/2c/ce/74fd8d638a5b82ea0c6f08a5978f741c2655a38c3d6e82f73a0f084377e6/XlsxWriter-1.4.3-py2.py3-none-any.whl (149kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 153kB 7.1MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.4.3

In [ ]:
df2 = pd.DataFrame({'data':[10, 20, 30, 30, 15]})
print(df2)
print()

#1)
#Excel íŒŒì¼ì„ ë‹¤ë£° ë•ŒëŠ” ë°˜ë“œì‹œ sheet nameì„ ì¨ì¤˜ì•¼í•œë‹¤.
writer = pd.ExcelWriter('aa5.xlsx', engine='xlsxwriter')
df2.to_excel(writer, sheet_name='Sheet1')
writer.save()

#2)
df2.to_excel('aa55.xlsx')

#3) Excel File ì½ê¸°
kbb = pd.ExcelFile('aa55.xlsx')
print(kbb.sheet_names)
df3 = kbb.parse('Sheet1')
print(df3)
print()

#4)encoding
df4 = pd.read_excel('aa5.xlsx', sheet_name='Sheet1')
print(df4)

   data
0    10
1    20
2    30
3    30
4    15

['Sheet1']
   Unnamed: 0  data
0           0    10
1           1    20
2           2    30
3           3    30
4           4    15

   Unnamed: 0  data
0           0    10
1           1    20
2           2    30
3           3    30
4           4    15